<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			1. First, sign up for a free Flybase account
		</h3>
	</div>
	<div class="panel-body">
		<p>The first thing you need to do is <a href="https://app.flybase.io/signup">sign up</a> for a free account, and get your API Key</p>
		<div class="well">
			<img src="/assets/images/dashboard.jpg" style="width:98%;height:auto;" />
		</div>
		<p>You'll find your API Key at the bottom of this page, you can also create more API Keys with limited permissions.</p>
		<p>Now, use the form on the dashboard to create an app called <code>tutorial</code></p>
		<p>We also have a handy help widget that you can use at anytime to send us any questions.</p>
	</div>
	<br />
</div>
<br />