<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			2. Now, let's install Flybase
		</h3>
	</div>
	<div class="panel-body">
		<p>To get you started, lets create a blank HTML page, and install the Flybase JavaScript client by adding the following line into the <code>&lt;head></code> section:
	
		<pre><code class="language-javascript">
	&lt;script src="https://cdn.flybase.io/flybase.js">&lt;/script>
		</code></pre>
		<br />
		<p>So it should look like this:</p>
	
		<pre><code class="language-markup">
&lt;html>
&lt;head>
&lt;script src="https://cdn.flybase.io/flybase.js">&lt;/script>
&lt;/head>
&lt;body>

&lt;/body>
&lt;/html>
		</code></pre>
	</div>
</div>
<br />