<header id="header" class="alt">
	<h1><a href="/"><i class="fa fa-rocket"></i> Flybase</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/features" class="icon fa-angle-down">Features</a>
				<ul>
					<li><a href="/features/">Features</a></li>
					<li><a href="/features/angular.html">AngularJS</a></li>
					<li><a href="/features/react.html">React</a></li>
				</ul>
			</li>
			<li><a href="/pricing/">Pricing</a></li>
			<li>
				<a href="#" class="icon fa-angle-down">Resources</a>
				<ul>
					<li><a href="/getting-started/" title="Getting Started">Getting Started</a></li>
					<li><a href="/tutorial/" title="Tutorial">Tutorial</a></li>
					<li><a href="//docs.flybase.io/" title="Developer Docs">Developer Docs</a></li>
					<li><a href="/books/" title="Books on Flybase">Books</a></li>
					<li style="white-space: nowrap;"><a href="/parse/" title="Migrating from Parse to Flybase">Migrating from Parse</a></li>
				</ul>
			</li>
			<li><a class="bloglink" href="//blog.flybase.io/" title="The Flybase Blog">Blog</a></li>
			<li>
				<a href="https://app.flybase.io/login" class="btn btn-primary box-shadow--4dp">Login</a>&nbsp;
			</li>
			<li>
				<a href="https://app.flybase.io/signup" class="btn btn-default box-shadow--4dp">Sign Up</a>
			</li>
		</ul>
	</nav>
</header>
