<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css?v=4.6b.a" />
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css">
	<link rel="stylesheet" href="/assets/css/prism.css">
	<meta name="google-site-verification" content="rwrFvGLC0srJuXNOoIzL2ZDU5-xEsVCGYUS9_FK2F9s" />
	<link rel="icon" type="image/png" href="/assets/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/favicon.ico"/>
	<meta name="google-site-verification" content="6GYFQtqYQq_LgSntvwOxWj_Bk61vPAVrvDWMJg8IAeA" />
	<META HTTP-EQUIV='Content-Security-Policy' CONTENT="default-src 'self' ; script-src 'self' 'unsafe-inline' *.flybase.io netdna.bootstrapcdn.com *.disqus.com a.disquscdn.com requirejs.org www.google-analytics.com *.googleapis.com connect.facebook.net *.facebook.com; style-src 'self' 'unsafe-inline' a.disquscdn.com; img-src 'self' *; media-src 'self' ; frame-src disqus.com;">	
	{% seo %}
</head>
