<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
{% comment %}
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId            : '155911741693042',
	      autoLogAppEvents : true,
	      xfbml            : true,
	      version          : 'v2.11'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
{% endcomment %}
	<div id="page-wrapper">
		{% include header.html %}
        {{ content }}
		{% include footer.html %}
